<div class="container">
  <h1><%= @trip.name %></h1>
  <p><strong>Description:</strong> <%= @trip.description %></p>
  <% if user_signed_in? %>
    <% if @trip.booked_by_user?(current_user) %>
      <span class="text-success">Booked</span>
    <% else %>
      <%= link_to 'Book Now', new_trip_booking_trip_path(@trip), class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= link_to 'Add Add-on', new_trip_add_on_path(@trip), class: 'btn btn-primary' %>
  <h2>Add-ons Available</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Spot Limit</th>
        <th>Booked</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <% @trip.add_ons.each do |addon| %>
        <tr>
          <td><%= addon.name %></td>
          <td><%= addon.description %></td> <!-- Added column for add-on description -->
          <td><%= addon.start_time.strftime("%H:%M") %></td>
          <td><%= addon.end_time.strftime("%H:%M") %></td>
          <td><%= addon.spot_limit %></td>
          <td><%= addon.booking_trip_add_ons.count %></td>
          <td>
            <% if addon.bookable? %>
              <span class="text-success">Bookable</span>
            <% else %>
              <span class="text-danger">Fully Booked</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>List of Guests</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Add-ons Booked</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @trip.booking_trips.each do |booking| %>
        <tr>
          <td><%= booking.user.email %></td>
          <td>
            <% booking.booking_trip_add_ons.each do |booking_addon| %>
              <%= booking_addon.add_on.name %><br>
            <% end %>
          </td>
          <td><%= booking.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
