<div id="<%= dom_id add_on %>">
  <p>
    <strong>Name:</strong>
    <%= add_on.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= add_on.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= add_on.end_time %>
  </p>

  <p>
    <strong>Spot limit:</strong>
    <%= add_on.spot_limit %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= add_on.trip_id %>
  </p>

</div>
