<p style="color: green"><%= notice %></p>

<%= render @booking_trip_add_on %>

<div>
  <%= link_to "Edit this booking trip add on", edit_booking_trip_add_on_path(@booking_trip_add_on) %> |
  <%= link_to "Back to booking trip add ons", booking_trip_add_ons_path %>

  <%= button_to "Destroy this booking trip add on", @booking_trip_add_on, method: :delete %>
</div>
